header {
    min-height: 10vh;
    background-color: #ffd194;
    border-bottom: 1px solid #ffe4ca;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 200ms;
}

.menuIcon {
    cursor: pointer;
    font-size: 2rem;
    justify-self: end;
    margin-right: 16px;
}

.importantWord {
    color: #ff8800;
    font-size: 2rem;
}

.h2Header {
    margin-left: 16px;
}

.navbarMobile {
    font-weight: 800;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 25px;
}

.navbarDesktop {
    display: none;
}



@media(min-width: 800px) {
    .navbarMobile {
        display: none;
    }

    .menuIcon {
        display: none;
    }

    .navbarDesktop {
        display: flex;
        align-items: center;
        gap: 64px;
        margin-bottom: 0;
        margin-right: 32px;
    }

    header .navLink:hover {
        transform: scale(1.1);
        color: #ff8800;
        text-decoration: underline;
    }

    header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
    }

    .h2Header {
        margin-left: 32px;
    }
}

@media(min-width: 1200px) {
    .h2Header {
        font-size: 2rem;
        margin-left: 64px;
    }

    .navbarDesktop {
        margin-right: 64px;
    }

    .importantWord {
        font-size: 3rem;
    }

    nav a {
        font-size: 1.2rem;
    }
}